<ion-header>
    <ion-toolbar>
        <ion-title>
            e-lab Measurements
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngFor="let dataEntry of myData">
        <ion-row>
            <ion-col>
                {{dataEntry.data1}}
            </ion-col>
            <ion-col>
                {{dataEntry.data2}}
            </ion-col>
            <ion-col>
                {{dataEntry.data3}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>